svoe_data_feed_config_map.yaml
svoe_data_feed_stateful_set.yaml
cryptostore_debug_config.yaml
.idea/
__pycache__/
data_feed/cryptostore.log
feedhandler.log
utils/parquet/parquet_sample_files/
configs/data_feed/aws_credentials.yaml
**/*.egg-info
cryptostore.log
kubeflow/kfapp/
prometheus_multiproc_dir/
terraform/modules/helm_TODO/.terraform/
terraform/modules/aws/glue/.terraform/

notebooks/dask-worker-space/

builds/
cache/

feedhandler.log*
cryptostore.log*

*.terraform/*
*.terraform.*
terraform/.terraform
kops/clusters/*

terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# helm secret age keys
helm/secrets/key.txt
helm/secrets/shared_secrets.yaml.dec

cryptostore.log

data_feed/secrets_DO_NOT_COMMIT.env
data_feed/common_services/alertmanager_telegram_bot/secrets_DO_NOT_COMMIT.env
