aiohttp==3.8.4
apache_airflow_client==2.6.2
attrs==22.1.0
awswrangler==3.4.2
boto3==1.26.76
cache_df==1.1
ccxt==4.1.64
ciso8601==2.3.0
cryptostore==0.4.0
Cython==3.0.5
dag_factory==0.19.0
dask==2023.3.2
dask_cloudprovider==2022.10.0
diskcache==5.6.3
fastapi==0.104.1
faster_fifo==1.4.5
fastparquet==2023.2.0
frozendict==2.3.7
grafanalib==0.7.0
httpx==0.25.1
intervaltree==3.1.0
Jinja2==3.1.2
joblib==1.1.1
kubernetes==23.6.0
matplotlib==3.7.1
numba==0.57.0
numpy==1.23.4
numpy==1.24.3
order_book==0.6.0
plotly==5.16.1
portion==2.4.0
prefect_dask==0.2.3
pyarrow==10.0.1
pydantic==1.10.7
pyhumps==3.8.0
python_dateutil==2.8.2
pytz==2022.7
pyzmq==23.2.0
ray==2.3.1
redis==5.0.1
Requests==2.31.0
s3fs==2023.4.0
setuptools==65.6.3
SQLAlchemy==1.4.39
toolz==0.12.0
tqdm==4.65.0
typer==0.9.0
uvicorn==0.24.0.post1
