service:
  type: ClusterIP
apiService:
  create: true
{{ if eq .Values.clusterType "minikube" }}
args:
  - --kubelet-insecure-tls
{{ end }}
resources:
  limits:
    cpu: 100m
    memory: 150Mi
  requests:
    cpu: 40m
    memory: 50Mi

# --metric-resolution=15s by default here