enableSqsTerminationDraining: false
enableSpotInterruptionDraining: true
enableScheduledEventDraining: false
enableRebalanceMonitoring: true
managedAsgTag: aws-node-termination-handler/managed
# TODO serviceMonitor