# TODO
mysql:
  host: "db host name"
  username: "root"
  password: "myrootpassword"
  port: 3306
  dbNames: db
schedule: "00 01 * * *"
s3:
  accessKeyId: "access key id"
  accessKeySecret: "access key secret"
  defaultRegion: "uswest-1"
  destination: "bucket/path/to/backup"