auth:
  rootPassword: {{ .Values | get "mysqlRootPassword" }}
primary:
  persistance:
    enabled: true
    existingClaim: ""
    accessModes:
      - ReadWriteOnce
    size: 4Gi
  service:
    type: ClusterIP