enableSqsTerminationDraining: true
enableSpotInterruptionDraining: true
enableScheduledEventDraining: false
enableRebalanceMonitoring: false
checkASGTagBeforeDraining: false
enablePrometheusServer: true
serviceMonitor:
  create: true
  interval: 5s
  namespace: monitoring
# TODO set pod requests/limits
# TODO podDisruptionBudget? priorityClassName? make sure this is not terminated when resources are starved
# TODO emit-kubernetes-events to true