enableSqsTerminationDraining: false
enableSpotInterruptionDraining: true
enableScheduledEventDraining: false
enableRebalanceMonitoring: true
managedAsgTag: aws-node-termination-handler/managed
# TODO serviceMonitor (this needs enableSqsTerminationDraining=True, so only in queue-processor mode??)
# TODO set pod requests/limits
# TODO podDisruptionBudget? priorityClassName? make sure this is not terminated when resources are starved
# TODO emit-kubernetes-events to true